@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer base {
    html,
    body {
        margin: none;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    .para {
        @apply px-8 py-4;
    }
    .btn {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }
    .font-small {
        @apply font-light text-xs;
    }
    .font-body {
        @apply font-normal text-sm;
    }
    .heading-6 {
        @apply font-semibold text-lg text-gray-700;
    }
}